.app-card {
  min-width: 360px;
}

.card-title {
  color: white;
  padding: 5px 10px;
}

.active {
  background-color: paper-color($primary);
}

.inactive {
  background-color: paper-color($accent);
  color: black;
}

.no-build {
  height: 90px;
  line-height: 90px;
  font-style: normal;
  font-weight: 500;
  color: #545353;
}

.heading-link {
  color: white;
  text-decoration: none;
}
