.app-card {
  min-width: 360px;
}

.card-title {
  color: white;
  padding: 5px 10px;
}

.card-detail {
  padding: 15px 15px 0 15px;
  p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 18px;
  }
  p:first-child {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.8em;
    color: paper-color($primary, '400');
    font-weight: bold;
  }
}
.active {
  background-color: paper-color($primary);
}

.inactive {
  background-color: paper-color($accent);
  color: black;
}

.no-build {
  height: 90px;
  line-height: 90px;
  font-style: normal;
  font-weight: 500;
  color: #545353;
}

.heading-link {
  color: white;
  text-decoration: none;
}
