<div class="layout-row flex layout-align-end">
  <LinkButton @icon="add" @route="apps.new" @text="New App" />
</div>
<div class="layout-row flex layout-wrap layout-align-center-center">
  {{#each this.sortedApps as |app|}}
    <AppCard @app={{app}} />
  {{/each}}
</div>