<div class="layout-row flex layout-align-end">
  <LinkTo class="padded-icon-button" local-class="new-button" @route="apps.new" class="md-default-theme md-button md-accent md-raised md-ink-ripple">
    <PaperIcon @icon="add" />
    New App
  </LinkTo>
</div>
<div class="layout-row flex layout-wrap layout-align-center-center">
  {{#each this.sortedApps as |app|}}
    <AppCard @app={{app}} />
  {{/each}}
</div>